<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jdawidowska.equipmentrentalservice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EquipmentRentalService"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".adminpackage.EquipmentActivity"
            android:exported="false" />
        <activity
            android:name=".adminpackage.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".userpackage.UserRentalsActivity"
            android:exported="false" />
        <activity
            android:name=".adminpackage.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".adminpackage.InventoryActivity"
            android:exported="false" />
        <activity
            android:name=".userpackage.HistoryUserRentalsActivity"
            android:exported="false" />
        <activity
            android:name=".userpackage.RentEquipmentActivity"
            android:exported="false" />
        <activity
            android:name=".userpackage.MenuUserActivity"
            android:exported="true">
            </activity>
        <activity
            android:name=".adminpackage.FeedbacksActivity"
            android:exported="false" />
        <activity
            android:name=".adminpackage.RentedInventoryActivity"
            android:exported="false" />
        <activity
            android:name=".adminpackage.MenuAdminActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>